.container {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: start;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}